<%- include('../partials/head.ejs') %>

<div class="form-block">
	<h1><%= data.username %></h1>
	<form class="form" method="post" action="/account/update">
		<input class="choice-input" id="junior" type="radio" name="type" value="junior" <% if(data.type == "junior") { %> checked="true" <% } %> required />
		<label for="junior" class="choice-label">

			Junior
		</label>
		<input class="choice-input" id="senior" type="radio" name="type" value="senior" <% if(data.type == "senior") { %> checked="true" <% } %> required />
		<label for="senior" class="choice-label">
			Senior
		</label>
		<label class="id-input">
			BoxID
			<input class="account-input" type="text" name="boxId" value="<%= data.boxId %>" required />
		</label>
		<label>
			Color
			<input class="account-input" type="color" name="color" value="<%= data.color %>" required />
		</label>

		<input type="submit" value="Sla op" />
	</form>

	<a href="/account/logout">Uitloggen</a>
</div>

<%- include('../partials/head.ejs') %>
