<%- include('../partials/head.ejs') %>

<div class="form-block">
	<h2>Create an Island</h2>
	<form class="form" method="post" action="/islands/create">
	<label>
		Name
		<input type="text" name="name" required />
	</label>
	<label>
		Description
		<textarea type="text" name="description" required></textarea>
	</label>
	<% for(i=0; i<users.length; i++) {
	if(users[i].type == "senior") { %>
		<label>
			<%= users[i].username + " (" + users[i].type + ")" %>
			<input type="radio" name="senior" value="<%= users[i].username %>">
		</label>
	<% }} %>
	<% for(i=0; i<users.length; i++) {
		if(users[i].type == "junior") { %>
			<label>
				<%= users[i].username %>
				<input type="checkbox" name="juniors" value="<%= users[i].username %>">
			</label>
	<% }} %>
	<input type="submit" value="Save" />
	</form>
</div>

<%- include('../partials/head.ejs') %>
